<div class="navsection">
	<div class="logo"><span id="lgo" class="fa" style="color:white;">&#xf110</span>designer.</div>
	<nav id="navbar">
		<a href="{% url 'home' %}" class="link-text">home</a>
		<a href="{% url 'portfolio' %}" class="link-text">portfolio</a>
		<a href="#services" class="link-text">services</a>
		<a href="{% url 'pubblog' %}" class="link-text">blogs</a>
		<a href="{% url 'about' %}" class="link-text">about</a>
		<!-- <button class="contactbtn">cantact</button> -->
		<a href="{% url 'contact'%}" class="link-text">contact</a>
	</nav>
	<div class="fa" id="navbutton"> &#xf039;</div>
</div>