<!DOCTYPE html>
<html>
<head>
	<title>portofolio</title>
	<link rel="stylesheet" type="text/css" href="static/css/portofolio.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<div class="navsection">
		<div class="logo"><h1>portofolio</h1></div>
		<nav>
			
			<a href="#">Home</a>
			<a href="#">services</a>
			<a href="#">gallery</a>
			<a href="#">about</a>
			<a href="#">contact</a>
			
		</nav>
	</div>
	<main>
		<div class="leftside">
		<h3>Hello</h3>
		<h1>I am Saurav Kumar</h1>
		<h2>web developer and designer</h2>
		<a href="#" class="btn1">Hire me</a>
		<a href="#" class="btn2"> contact me</a>
	</div>
	<div class="rightside">
		<img src="static/img/boy.png">
	</div>
	</main>
</header>
</body>
</html>